.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.empty {
    padding: 2.55em;
    text-align: center;
    font-size: 20px;
    color: var(--white);
    text-shadow: 2px 2px 2px var(--green);
}