.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.1em 0;
    background-color: var(--black);
    color: var(--white);
}

.footer__text{
    font-size: 1em;
    margin: 0 0 1.5em 0;
}

.footer__textAncor{
    color: var(--green);
    text-decoration: none;
    font-style: italic;
}

.ancor:hover{
    color: var(--white);
    transition: 0.5s;
}

.footer__socialLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
}

.socialIcons{
    color: var(--green);
    margin: 0 0.5em;
    font-size: 25px;
}

.socialIcons:hover{
    color: var(--white);
    transition: 0.5s;
}